@charset "utf-8";
/* CSS Document */

ul{
	list-style-type: none;		
}

li{
	border: 1px solid red;
	background-color: #CFC;
	color: #039;
	padding: 5px 12px;
	display: inline;
	position: relative;
}

.lix{
	border: 1px solid red;
	background-color: #CFC;
	color: #039;
	padding: 5px 12px;
	display: inline;
	position: relative;
}

#abc{
	position: absolute;
	left: 0px;
	top: 33px;
	border: 1px solid red;
	background-color: #FFC;
	color: #F00;
	font-weight: bold;
	display: none;
	font-style: italic;
}

.ov{
	background-color: #039;
	color: #CFC;	
}

.xyz{
	background-color: #FFC;
	color: #F00;	
	padding: 5px 12px;
	border: 1px solid #F36;
	cursor: pointer;
}

.kr{
	background-color: #F00;
	color: #FFC;	
	padding: 5px 12px;
	border: 1px solid #F00;
	cursor: pointer;
}